@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
    background: linear-gradient(to right, #FF1CF7, #b249f8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}